/*
    @VARS
*/

@mainBackground :             #fff;
@mainFontFamily :             "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
@mainFontSize:                14px;
@mainFontLineHeight :         24px;
@mainFontWeight :             normal;
@mainBorderRadius:            3px;
@mainTextColor:               #000;

@mainLinkColor:               #2ba6cb;
@mainLinkHoverColor:          #2795b6;

@mainHeaderColor:             #000;
@mainHeaderFontFamily:        @mainFontFamily;
@mainHeaderFontWeight:        bold;

@colorSoft:                   #ccc;

@colorGrayDark:               #444;
@colorDisabled:               @colorGrayDark;
@colorDisabledBackground:     @colorSoft;

@inputBorderRadius:           3px;
@inputBorderColor:            #ccc;
@inputBackgroundColor:        #fff;



/*
    @MIXINS
*/
.animate(@effect: flash, @duration: 1s){
  -webkit-animation-duration: @duration;
     -moz-animation-duration: @duration;
      -ms-animation-duration: @duration;
       -o-animation-duration: @duration;
          animation-duration: @duration;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: @effect;
  -moz-animation-name: @effect;
  -ms-animation-name: @effect;
  -o-animation-name: @effect;
  animation-name: @effect;
}

/* Nicolas Gallagher's micro clearfix */
.hasclearfix() {
    *zoom:1;
    &:before, &:after {
        content:"";
        display:table;
    }
    &:after { clear:both; }
}
.resetlist() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gradiantFromTop(@start, @end) {
  background-image: -moz-linear-gradient(top, @start, @end);
  background-image: -webkit-linear-gradient(top, @start, @end);
  background-image: -o-linear-gradient(top, @start, @end);
  background-image: linear-gradient(to bottom, @start, @end);
}

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}