a.button, .button {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
  border-style: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  color: #333;
  line-height: @mainFontLineHeight;
  vertical-align: middle;
  background-color: #eee;

  min-width: 42px;

  // .gradiantFromTop(transparent, rgba(0,0,0,0.2));

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  &.active, &:hover {
    .gradiantFromTop(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  }

  &.active, &:active {
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
  } 

  &.green, &.success, a.button.green:hover, a.button.success:hover {
    background-color: #8cc14c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &.red, &.error, a.button.red:hover, a.button.error:hover {
    background-color: #da314b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &.orange, &.warning, a.button.orange:hover, a.button.warning:hover {
    background-color: orange;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &.blue, &.primary, a.button.blue:hover , a.button.primary:hover {
    background-color: #00a8e6;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &.dark {
    background-color: #666;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #666;
    color: #fff;
  }
}

a.button, a.button:hover {
  vertical-align: middle;
}

.button-mini {
  padding: 3px 6px;
  font-size: 11px;
  min-width: 33px;
}

.button-small {
  padding: 6px 10px;
  font-size: 12px;
  min-width: 36px;
}

.button-large {
  padding: 15px 15px;
  font-size: 16px;
  min-width: 48px;
}


.button-group {
  
  display: inline-block;
  line-height: 1;

  .hasclearfix();

  .button {
    border-radius: 0;
    float:left;
    line-height: @mainFontLineHeight;;

    &:not(:last-child){
      border-right: none;
    }
  }
  .button:first-child {
    border-radius: 3px 0px 0px 3px;
  }
  .button:last-child {
    border-radius: 0px 3px 3px 0px;
  }
}

.button-group.row {
  display: block;
  .button {
    display:block;
  }
}