@import url(normalize.less);

*, *:before, *:after { box-sizing: border-box; }

body {
    background: @mainBackground;
    color: @mainTextColor;
    font-family: @mainFontFamily;
    font-size: @mainFontSize;
    font-weight: @mainFontWeight;
    line-height: @mainFontLineHeight;
}