.modal-win{
	position: fixed;
	visibility: hidden;
	top: -1000px;
	left: -1000px;
	max-width: 80%;
	background: #fff;
	padding: 20px 20px 20px 20px;
	border-radius: 4px;
	border: 1px #f7f7f7;
	box-shadow: 0px 0px 10px #333;
	z-index: 8100;
}

.modal-overlay{
	z-index: 8000;
	background: #222;
}

.modal-win > div.modal-close {
	position: absolute;
	text-align: center;
	color: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
	right: -35px;
	top: 8px;
	line-height: 1;
	border-radius: 50%;
}