body {
    padding-bottom: 60px;
}

.mobile-top-menu {
    position: fixed;
    width: 100%;
}

h3 { color: #999; }

.demo.row {
    margin-bottom: 5px;
}

.demo.row .columns, .demo.row .column {
    background: #f7f7f7;
    border-right: 1px #fff solid;
    text-align: center;
}

table.nice {
    background-color: rgba(247,247,247,0.5);
}

.focus-element {
    text-align: center;
    padding: 30px;
    border: 1px #ccc solid;
    border-radius: 4px;
}

.focus-element.baseui-focused {
    background: red;
    color: #fff;
}

.focus-element.baseui-focused .show { display: none;}
.focus-element.baseui-focused .hide { display: block;}